/* Pagedjs/paged media specific styles */

@page {
	bleed: 4mm;
	marks: crop;
  size: 110mm 200mm;
  margin-top: 15mm;
  margin-right: 10mm;
  margin-bottom: 25mm;
  margin-left: 15mm;
  /* bleed: 6mm;
   marks: crop cross; */
	background-color: white;
  @footnote {
    float: bottom;
  }
	@bottom-right-corner {
    content: counter(page);
  }
	@top-left { 
		content: string(articleTitle);
  }
	@top-right {
		content: string(chapterTitle);
	}
}

@page:left {
	@bottom-right-corner {
    content: '';
  }
  @bottom-left-corner {
		content: counter(page);
  }
}




.pagedjs_margin {

}

.pagedjs_pages .pagedjs_margin .pagedjs_margin-content {
	background-color: white;
	border-radius: 1rem;
	padding: 6px 10px 1px;
	width: auto;
}


/*
	because we're changing the right margin based on layout
	we need to fix the top-right margin box
	Ugly, but best i could come up with
*/
.pagedjs_pagebox .pagedjs_margin-top-right {
	position: absolute;
	right: var(--pagedjs-margin-left); // keep left and right margin the same
	text-align: right; // but align right
	top: 0;
	height: var(--pagedjs-margin-top);
}

// @page:first {
//   @top-left {
//     content: "";
//   }
//   @bottom-right-corner {
//     content: ""; 
//   }
// }

.pagedjs_sheet {
	z-index: 1;
}



// .article-contents {
// 	columns: 2;
// 	display: block;

// 	.thumb,
// 	a.image {
// 		column-span: all;
// 	}

// 	h3 {
// 		column-span: all;
// 	}

// 	& > *:first-child {
// 		margin-top: 0;
// 	}
// }

// .pagedjs_margin-bottom-left-corner,
// .pagedjs_margin-bottom-right-corner {
//   font-size: 1.5rem;
//   font-family: Ortica, serif;
// }

.pagedjs_footnote_area {
	margin-top: 1rem;
}

.pagedjs_footnote_content {
	padding-top: 5px;
}

// .pagedjs_pages .pagedjs_blank_page {
// 	.pagedjs_margin-bottom-center, .pagedjs_margin-top-center {
// 		.pagedjs_margin-content {
// 			display: none;
// 		}
// 	} 
// } 


/* Setting variables */

h2,
.chapter-title {
	string-set: chapterTitle content(text);
}

h3 {
	string-set: articleTitle content(text);
}


h2 {
  counter-increment: countChapter;
	// string-set: articleTitle content(text);
	counter-set: footnote-marker 0 footnote 0;
	string-set: author "";
}

span.author {
	string-set: author content(text);
}

// /* Move the footnotes to the footer */
span.footnote {
  float: footnote;
}



/* PAGE NUMBERS */
.pagedjs_pagebox {

	.pagedjs_margin-bottom-left-corner-holder,
	.pagedjs_margin-bottom-right-corner-holder {
		position: relative;
	
		.pagedjs_margin-content {
			position: absolute;
			bottom: 0;
			width: 100pt !important;
			// @include font-louise-regular(); // moved to typography
			font-size: 44pt;
			padding: 0 10pt;
			line-height: 1.4; // any lower and descenders go off the page
			background-color: transparent;
		}
	}

	.pagedjs_margin-bottom-left-corner-holder {
		.pagedjs_margin-content {
			left: 0;
			text-align: left;
		}
	}

	.pagedjs_margin-bottom-right-corner-holder {
		.pagedjs_margin-content {
			right: 0;
			text-align: right;
		}
	}
}

/* For placement op p5js sketch relative to the page */
.pagedjs_page,
.pagedjs_pagebox {
	position: relative;
}

/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}




