.pagedjs_layout-title_page .pagedjs_area {
	z-index: -1;
}


.title-image-wrap {
	
	.image {
		position: absolute;
		width: calc(var(--pagedjs-pagebox-width) / 2);
		height: calc(var(--pagedjs-height) - var(--pagedjs-bleed-right) - var(--pagedjs-bleed-left));
		overflow: hidden;
		// right: calc(calc(var(--pagedjs-bleed-right) + var(--pagedjs-margin-right) + var(--pagedjs-padding-right) )*-1);
		right: calc(calc(var(--pagedjs-margin-right) + var(--pagedjs-padding-right))*-1);
		// top: calc(calc(var(--pagedjs-bleed-top) + var(--pagedjs-margin-top) + var(--pagedjs-padding-top) )*-1);
		top: calc(calc(var(--pagedjs-margin-top) + var(--pagedjs-padding-top))*-1);
		outline: 1px dashed yellow;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
		}
	}

	/* weird swapping of values because of the transform gives me headache */
	// .thumbcaption {
	// 	// height: calc(var(--pagedjs-pagebox-width)/2);
	// 	// left: calc(var(--pagedjs-width)/2);
	// 	outline: 3px dashed red;
	// 	overflow: hidden;
	// 	position: absolute;
	// 	// top: calc(var(--pagedjs-height) - var(--pagedjs-bleed-top) - var(--pagedjs-bleed-bottom));
	// 	transform: rotate(90deg);
	// 	transform-origin: top left;
	// 	width: calc(var(--pagedjs-height) - var(--pagedjs-bleed-right) - var(--pagedjs-bleed-left));
	// 	top: calc(calc(var(--pagedjs-margin-top) + var(--pagedjs-padding-top)) * -1);
	// 	// left: calc(calc(var(--pagedjs-margin-left) + var(--pagedjs-padding-left)) * -1);
	// 	left: calc(calc(var(--pagedjs-pagebox-width)/2) - var(--pagedjs-margin-left) - var(--pagedjs-padding-left));
	// 	// right: calc(var(--pagedjs-pagebox-height)/-2);
	// 	padding: 20pt 40pt;
	// }
	.thumbcaption {
		overflow: hidden;
		position: absolute;
		
		height: calc(var(--pagedjs-pagebox-width)/2);
		width: calc(var(--pagedjs-height) - var(--pagedjs-bleed-right) - var(--pagedjs-bleed-left));

		left: calc(calc(var(--pagedjs-margin-left) + var(--pagedjs-padding-left)) * -1);
		top: calc(var(--pagedjs-height) - var(--pagedjs-bleed-top)*2 - var(--pagedjs-margin-top) - var(--pagedjs-padding-top));

		transform: rotate(-90deg);
		transform-origin: top left;
		padding: 20pt 80pt;
	}
}