/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki.

https://pagedjs.org/documentation/
https://jamonserrano.github.io/plumber-sass/
*/

/* Paged and print specific styles are collected in paged.css */
@import "mixins";
@import "typography";
@import "debug";

/* General styling */
//TODO: figure out why it's overflowing
html {
	// font-size: 62.5%;
	width: 100vw;
	height: 100%;
}

a:hover{
	text-decoration: underline;
}

a:active{
	text-decoration: underline;
}

body {
	color: var(--color-main);
	margin: 0;
	padding: 0;

	position: relative;

	overflow-x: hidden;
	// display: flex;
	// align-items: center;
}

//Table of Contents
.toclimit-3{
	width: 20% !important;
	height: 100%;
	background-color: #b19cd9;
	position: fixed;
	top: 0;
	left: 0;

	z-index: 1;
}

li.toclevel-1,
li.toclevel-2 {
	list-style: none;

	border-left: solid 0.5px;
    padding-left: 5px;
}


a[href*="Test_Area"],
a[href*="Demo_Scriptotheek"]{
	display: none;
}

//Picking links on the field 
//chapter Setting_conditions
a[href*="Platframe_Postscript"],
a[href*="#Re-,_Un-,_Defining_Tools"],
a[href*="Open-source_Parenting"],
a[href*="A_history_of_consensus_decision_making"],
a[href*="Algorithmic_Consensus"],
a[href*="Mycelines:_A_Sympoetic_Imagination"],

//chapter How-to's -- !SKIPPED! due to an error
a[href*="Mud_Batteries"],
a[href*="Gerwani_and_Api_Kartini._Indonesian_Women's_Movement"],
a[href*="Display(ing)"],

//chapter Prompts
a[href*="Prompts_for_hanging_out_in_a_spreadsheet"],
a[href*="Propositioning"],
a[href*="Roleplaying_in_Etherpad"],

//chapter Scripted Syllabi
a[href*="Interfacial-Workouts"],
a[href*="wiki_reflections"],

//chapter Active Bibliographies
a[href*="Workshop_Histories_and_Practices"],

//DemoScript
a[href*="Demo_Scriptotheek"]{
	display: none;
}

.chapter{
	position: relative;
	width: 75%;
	left: 20%;
	background-color: white;
	top: 0;

	height: auto;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

// all chapters
// .chapter
.article{
	position: relative;
	width: 75%;
	left: 20%;
	background-color: white;
	top: 0;

	display: none;

	min-height: 100vh;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

//show on selected chapter with its id
// .article{
// 	display: none;
// }

// .chapter:target,
.article:target{
	display: block;
}

//introduction (to be finalized)
.chapter.introduction{
	display: block;
}

// .article{
// 	display: none;
// }

// .article:target{
// 	display: block;
// }

//prevent intro be affected by TOC
// .Introduction-Figuring-Things{
// 	display: contents!important;
// 	top: 0;
// }

.Introduction-Figuring-Things{
	margin-top: -5px;
}

.btn-wrapper{
	position: fixed;
	width: 75%;
	left: 20%;
	top: 0;
	background-color: transparent;

    // box-shadow: 0 15px 15px -5px white;
	z-index: 8934239;
	text-align: right;
}

.change-behind{
	font-size: 50px;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

img,
.thumbinner {
	width: auto; // height is set with javascript
	height: auto;
	max-width: 85%;
	max-height: 80%;
	border-radius: 1rem;
	display: block;
	margin: 12pt auto;
}

.test-area{
	visibility: hidden;
}

//scriptothek
.Demo-script{
	position: fixed;
	width: 25%;
	height: 100vh;

	margin: 0;
	padding: 0;

	right: 0!important;
	top: 0;
	background-color: yellow!important;

	z-index: -1;
	overflow: scroll!important;

	visibility: visible;
}

//trying to show one chapter at a time

// .setting-conditions,
// .how-tos,
// .prompts,
// .scripted-syllabi,
// .active-bibliographies{
// 	display: none;
// }

// a[href*="Test_Area"]{
// 	display: none;
// }


// h3+p {
// 	text-indent: 0 !important;
// }

// .pagedjs_pages .chapter.invert-type {
// 	h2+p {
// 		text-indent: 0 !important;
// 	}
// }

h1,p,h2{
	padding: 10px;
}

h2{
	font-size: inherit;
}

/*
Setting named-pages
https://pagedjs.org/documentation/8-named-page/
*/

// h1 {
// 	page: chapter-title;
// }

// .empty-page 
// 	page: empty-page !important;
// }

@page empty-page{
	background-color: blue!important;
}

.title-page {
	page: chapter-title;
}
// .title-page {
// 	page: chapter-title;
// }

/* Prevent superscript from messing up the line-height */
sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

a {
	text-decoration: none;
	color: black;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Generic css */

/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */


a.image {
	display: block;
	text-align: center;
}

.pagedjs_pages .pagedjs_area .chapter .image-container {
	margin: 0;
	padding: 0;
	text-indent: 0;
	text-align: center;

	a {
		display: block;
	}
}


@page chapter-title {
	@top-center {
		content: "";
	}

	@bottom-center {
		content: "";
	}

	@top-left {
		content: "";
	}

	@top-right {
		content: "";
	}
}


/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}


/* For placement op p5js sketch relative to the page */
.pagedjs_page,
.pagedjs_pagebox {
	position: relative;
}

/* thumbnails, keep caption and image on same page */
.thumb {
	break-inside: avoid;
}

.thumbinner {
	margin: 0 auto;
}

/* mediawiki gives thumbs an inline fixed width */
.thumbinner.image-container {
	width: auto !important;
}