/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki.

https://pagedjs.org/documentation/
https://jamonserrano.github.io/plumber-sass/
*/

/* Paged and print specific styles are collected in paged.css */
@import "mixins";
@import "typography";
@import "debug";

/* General styling */
// html {
// 	font-size: 62.5%;
// 	width: 100vw;
// 	height: 100%;
// }

body {
	color: var(--color-main);
	margin: 0;
	padding: 0;

	position: relative;

	overflow-x: hidden;
}

#webview{
	display: flex;
}

a:hover{
	text-decoration: underline;
}

a:active{
	text-decoration: underline;
}

//Table of Contents
.toc-wrap{
	width: 20%;
	height: 100%;
	background-color: #b19cd9;
	position: fixed;
	top: 0;
	left: 0;

	z-index: -1;
	overflow: scroll;
}

li.toclevel-1,
li.toclevel-2 {
	list-style: none;

	border-left: solid 0.5px;
    padding-left: 5px;
}

li.toclevel-3,
li.toclevel-4{
	display: none;
}

//Picking links on the field 
//chapter First,_Then…_Repeat.
// a[href*="Workshop_scripts_in_practice"],

//chapter Setting_conditions
a[href*="Open-source_Parenting"],
a[href*="Platframe_Postscript"],
a[href*="WINWIN"],
a[href*="On_consensus,_in_two_parts"],
a[href*="#Re-_and_Un-_Defining_Tools"],
a[href*="Mycelines:_A_Sympoetic_Imagination"],
a[href*="fileSHA_as_protocol"],
a[href*="Skinship"],

//chapter Prompts
a[href*="Reading_Food"],
a[href*="Across_Distance_and_Difference"],
a[href*="Roleplaying_in_Etherpad"],
a[href*="Spreadsheet_Routines"],
a[href*="Channeling_Listeners"],
a[href*="Untitling"],

//chapter How-to's
a[href*="Learning_to_Experiment,_Sharing_Techniques"],
a[href*="Scripts_from:_Learning_to_Experiment,_Sharing_Techniques_(ed._Julia_Bee_and_Gerko_Egert)"],
a[href*="Give_and_Take"],
a[href*="Conceptual_Speed_Dating"],
a[href*="Bodystrike"],
a[href*="The_Button_Saga"],
a[href*="Mud_Batteries"],
a[href*="Gerwani_and_Api_Kartini._Indonesian_Womens_Movement"],
a[href*="Display(ing)"],

//chapter Distributed_Curricula
a[href*="Cooperative_gaming"],
a[href*="A_case_of_mistaken_identity"],
a[href*="Interfacial-Workouts"],
a[href*="Am_I_a_hacker_now?"],
a[href*="wiki_reflections"],
a[href*="ChattyPub"],
a[href*="Scripting_Workshops"],

//chapter Active Bibliographies
a[href*="Workshop_Histories_and_Practices"],
a[href*="Did_video_kill_the_radio_(star)?"],
a[href*="Solarpunk_Postscript"],
a[href*="Workshop_Matters_and_Materials"],
a[href*="Demo_Scriptotheek"]{
	display: none;
}

.content{
	position: absolute;

	width: 75%;
	left: 20%;
}

.chapter{
	position: relative;
	background-color: white;
	top: 0;

	height: auto;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

// all chapters
.article{
	position: relative;
	display: none;
	padding: 1%;
}

// .chapter:target,
.article:target{
	display: block;
}

.Introduction-Figuring-Things{
	padding: 1%;
}

.btn-wrapper{
	position: fixed;
	width: 75%;
	left: 20%;
	top: 0;
	background-color: transparent;

    // box-shadow: 0 15px 15px -5px white;
	z-index: 8934239;
	text-align: right;
}

.change-behind{
	font-size: 50px;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

img {
	width: auto; // height is set with javascript
	height: auto;
	max-width: 50%;
	max-height: 80%;
	display: block;
	margin: 12pt auto;
}

.wikitable .filehistory{
	display: block;
}

.pagedjs_pages .two-columns {
    columns: 2;
}

//scriptothek
.scriptothek-wrapper{
	position: fixed;
	width: 21.5%;
	height: 100vh;

	margin: 0;
	padding: 0;

	right: 0!important;
	top: 0;
	background-color: yellow!important;

	z-index: -1;
	overflow: scroll!important;

	visibility: visible;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

//hide all scriptotheeks
.scriptothek-chapter{
	display: none;
}

.scriptothek-slideshow{
	display: none;
	display: -webkit-inline-box;
}

// .script-image{
// 	width: 100%;
// }

.scriptothek-slideshow>* {
	// display: inline-block; 
	vertical-align:top;
	overflow: hidden;
}

a.image{
	width: 100%;
}


.test-area{
	display: none;
}

// .scriptothek-slideshow > .script-image:nth-of-type(1){
// 	display: block!important;
// }

// .script-image .thumbimage{
// 	border: solid black;
// 	width: 10%;
// }

// .thumb .tright{
// 	margin-bottom: 5%;
// }

// .hide-from-book{
// 	display: none;
// 	position: relative;
// }

.slideshow-buttons{
	width: 96.5%;
	position: fixed;
	// background-color: #b19cd9;
	right: 0;
	z-index: 5;
	top:50%;
	display: none;
}

.close-wrapper{
	width: 96.5%;
	position: fixed;
	// background-color: #b19cd9;
	right: 0;
	z-index: 5;
	top:0;
	display: none;
}

.prev,
.next,
.close{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	font-size: 50px;
}

.prev{
	position:absolute;
	left:0%;
	// transform:translate(0%,-50%);
	// -ms-transform:translate(-0%,-50%)
}

.next{
	position:absolute;
	right:0%;
	// transform:translate(0%,-50%);
	// -ms-transform:translate(-0%,-50%)
}

//trying to show one chapter at a time
// h3+p {
// 	text-indent: 0 !important;
// }

// .pagedjs_pages .chapter.invert-type {
// 	h2+p {
// 		text-indent: 0 !important;
// 	}
// }

h1,p,h2{
	padding: 10px;
}

h2{
	font-size: inherit;
}

/*
Setting named-pages
https://pagedjs.org/documentation/8-named-page/
*/

// h1 {
// 	page: chapter-title;
// }

// .empty-page 
// 	page: empty-page !important;
// }

@page empty-page{
	background-color: blue!important;
}

.title-page {
	page: chapter-title;
}
// .title-page {
// 	page: chapter-title;
// }

/* Prevent superscript from messing up the line-height */
sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

a {
	text-decoration: none;
	color: black;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Generic css */

/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */


a.image {
	display: block;
	text-align: center;
	border: solid black;
}

.pagedjs_pages .pagedjs_area .chapter .image-container {
	margin: 0;
	padding: 0;
	text-indent: 0;
	text-align: center;

	a {
		display: block;
	}
}


@page chapter-title {
	@top-center {
		content: "";
	}

	@bottom-center {
		content: "";
	}

	@top-left {
		content: "";
	}

	@top-right {
		content: "";
	}
}


/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}


/* For placement op p5js sketch relative to the page */
.pagedjs_page,
.pagedjs_pagebox {
	position: relative;
}

/* thumbnails, keep caption and image on same page */
.thumb {
	break-inside: avoid;
}

.thumbinner {
	margin: 0 auto;
}

/* mediawiki gives thumbs an inline fixed width */
.thumbinner.image-container {
	width: auto !important;
}