/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki.

https://pagedjs.org/documentation/
https://jamonserrano.github.io/plumber-sass/
*/

/* Paged and print specific styles are collected in paged.css */
@import "mixins";
@import "typography";
@import "debug";

/* General styling */
// html {
// 	font-size: 62.5%;
// }

body {
	color: var(--color-main);
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

img {
	width: auto; // height is set with javascript
	height: auto;
	max-width: 85%;
	max-height: 80%;
	border-radius: 1rem;
	display: block;
	margin: 12pt auto;
}

h3+p {
	text-indent: 0 !important;
}

.pagedjs_pages .chapter.invert-type {
	h2+p {
		text-indent: 0 !important;
	}
}

//contents block
.toclimit-3{
	width: 20% !important;
	background-color: #b19cd9;
	position: fixed;
	top: 0;
	left: 0;

	height: 100vh;
	margin-left: 0!important;
}

//articles block
.mw-parser-output{
	// display: none;
	position: relative;
	width: 75%;
	z-index: 9;
	background-color: white;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);

	overflow: scroll;
}

//messsing around
.wrap-btn{
	position: fixed;
	z-index: 948293;
}

div{
	border: solid 1px;
}

.tab{
	z-index: 9584594;
    position: absolute;
}

//scriptotheek

// exclude child div from parent div
// #webview > div:not(.scriptothek) {
// 	display: none;
// }

.content > div:not(.toc) {
	z-index: 9;
	left: 23%;
}

h1,p,h2{
	padding: 10px;
}

h2{
	font-size: inherit;
}

.categs{
	width: 100%;
	display: inline-flex;
}

.Demo-script{
	position: fixed;
	width: 25%;
	height: 100vh;

	margin: 0;
	padding: 0;

	right: 0!important;
	top: 0;
	background-color: yellow;

	overflow: scroll;
}

.script-img{
	margin-bottom: 5%;

}

.scriptinner{
	display: inline-flex;
	width: 100%;
}

.item{
	width: 30%;
	padding: 5px;
	hyphens: auto;
}

.scriptimg-wrapper{
	border: solid;
}

.scriptimage img{
	filter: opacity(0.0);
	color: blue;
	margin: 0pt!important;
	max-height: none!important;
}

.change-behind{
	position: fixed;
	width: 73%;
	left: 20%;
	z-index: 8934239;
	font-size: 50px;
	padding-right: 5px;

	background-color: transparent;
	border: none;

	text-align: right;
	cursor: pointer;
}

.change-behind:hover{
	color: blue;
}

/*
Setting named-pages
https://pagedjs.org/documentation/8-named-page/
*/

// h1 {
// 	page: chapter-title;
// }

// .empty-page 
// 	page: empty-page !important;
// }

@page empty-page{
	background-color: blue!important;
}

.title-page {
	page: chapter-title;
}
// .title-page {
// 	page: chapter-title;
// }

/* Prevent superscript from messing up the line-height */
sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

a {
	text-decoration: none;
	color: black;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Generic css */

/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */


a.image {
	display: block;
	text-align: center;
}

.pagedjs_pages .pagedjs_area .chapter .image-container {
	margin: 0;
	padding: 0;
	text-indent: 0;
	text-align: center;

	a {
		display: block;
	}
}


@page chapter-title {
	@top-center {
		content: "";
	}

	@bottom-center {
		content: "";
	}

	@top-left {
		content: "";
	}

	@top-right {
		content: "";
	}
}


/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}


/* For placement op p5js sketch relative to the page */
.pagedjs_page,
.pagedjs_pagebox {
	position: relative;
}

/* thumbnails, keep caption and image on same page */
.thumb {
	break-inside: avoid;
}

.thumbinner {
	margin: 0 auto;
}

/* mediawiki gives thumbs an inline fixed width */
.thumbinner.image-container {
	width: auto !important;
}