/* Fonts */

@include font("Authentic", "../fonts/AUTHENTICSans-60", $weight: '60');
// @include font("Authentic", "../fonts/AUTHENTICSans-90", $weight: '90');
// @include font("Authentic", "../fonts/AUTHENTICSans-130", $weight: '130');
// @include font("Authentic", "../fonts/AUTHENTICSans-150", $weight: '150');
@include font("Authentic-condensed", "../fonts/AUTHENTICSans-Condensed-60", $weight: '60');
@include font("Authentic-condensed", "../fonts/AUTHENTICSans-Condensed-90", $weight: '90');
@include font("Authentic-condensed", "../fonts/AUTHENTICSans-Condensed-130", $weight: '130');

@mixin font-authentic( $weight: 90) {
	font-family: Authentic, sans-serif;
	// font-weight: $weight;
}

@mixin font-authentic-condensed ( $weight: 60) {
	font-family: Authentic-condensed, sans-serif;
	font-weight: $weight;
}
 
.font-authentic {
	@include font-authentic();
}

.font-authentic-condensed {
	@include font-authentic-condensed();
}
