.content{
	position: absolute;

	width: 75%;
	left: 20%;
}

.hide-from-book,
.hide-from-website{
	display: none;
}

.chapter{
	position: absolute;
	top: 0;

	min-height: 100%;
	width: 100%;
}

.chapter h2{
	display: none;
}

.chapter-title{
	display: block;
	text-align: center;
}

.article li::marker {
	font-size: 300%;
	color: black;
	line-height: 0.5;
}

.article ol li::marker {
    font-size: inherit;
    line-height: .5;
}

.article{
	position: absolute;
	display: none;
	padding: 1%;
	padding-top: 5%;

	font-size: 14pt;

	min-height: 100vh;

	background-color: white;
	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

#Workshop_scripts_in_practice{
	display: block;
	top: 0;
}

.article:target{
	display: block;
	top: 0;
}

.author-wrap{
	text-align: right;
}

.layout-1 .author,
.layout-2 .author{
	margin: 0 0 0 0;
}

.layout-1 blockquote{
	font-size: 15pt;
	line-height: 13pt;
    text-indent: 50mm;
}

// #star{
// 	display: block;
// 	font-size: 10px;
// }

.footnote{
	position: relative;
	background-color: yellow;
	visibility: hidden;
}

.layout-1 .block {
    border: none;
    padding: 0 3mm !important;
}

.spread{
	display: none;
}

.embedvideo{
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%!important;
}

.embedvideowrap{
	padding: 1%;
}


// $finalHeight: 250px;
// $finalWidth: 3 * $finalHeight;
// $scrollBarHeight: 1px;

// ::-webkit-scrollbar {
//   width: $scrollBarHeight;
//   height: $scrollBarHeight;
// }

// ::-webkit-scrollbar-button {
//   width: $scrollBarHeight;
//   height: $scrollBarHeight;
// }
