.content{
	position: absolute;

	width: 75%;
	left: 20%;
}

.hide-from-book,
.hide-from-website{
	display: none;
}

.chapter{
	position: absolute;
	top: 0;

	min-height: 100%;
	width: 100%;
}

.chapter h2{
	display: none;
}

.colophon-credits{
	display: none;
}

.article li::marker {
	font-size: 300%;
	color: black;
	line-height: 0.5;
}

.article ol li::marker {
    /* color: #000; */
    font-size: inherit;
    line-height: .5;
}

.article{
	position: absolute;
	display: none;
	padding: 1%;
	padding-top: 5%;

	min-height: 100vh;

	background-color: white;
	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

#Workshop_scripts_in_practice{
	display: block;
	top: 0;
}

.article:target{
	display: block;
	top: 0;
}

@mixin hide-chapter() {
	.chapter{
		display: none;
	}
}

.author-wrap{
	text-align: right;
}

.layout-1 .author,
.layout-2 .author{
	// margin-left: 50%;
	margin-left: calc(50% - 30px);
	margin: 0 -20mm 0 0;
}

.layout-2 {
    columns: 2;
}

.layout-1 blockquote{
	font-size: 15pt;
	line-height: 13pt;
    text-indent: 50mm;
}

.footnote{
	position: relative;
	background-color: yellow;
}

.hilight-h5{
	visibility: hidden;
	width: 100%;
	position: absolute;
}

$finalHeight: 250px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}
