@media (max-width: 416px) {
    body{
        display: flex;
        justify-content: center;
        font-size: 15pt;

        overflow-x: hidden!important;
    }

    .change-behind{
        display: none;
    }

    .layout-1 p{
        padding: 4%;
    }

    .layout-1 h3,
    .layout-2 h3{
        font-size: 32pt;
    }

    .toc-wrap{
        width: 80%;
        overflow-x: hidden!important;

        box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
        -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
        -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
    }

    .content{
        position: relative;
        left: 0;
        width: 330px;
    }

    .article{
        width: 100%;
    }

    .visual-footnote .thumb .thumbinner{
        width: 90%!important;
    }

    .layout-1 blockquote,
    .layout-2 blockquote{
        margin-left: 0;
    }

    .mobile-arrow-right,
    .mobile-arrow-left,
    .close-script{
        background-color: transparent;
        border: none;
        font-size: 50px;
        position: fixed;
        z-index: 1;
    }

    .close-script{
        padding: 4% 4%;
        font-size: 40px;
    }

    .mobile-arrow-left{
        right: 10%;
        position: fixed;
    }

    .scriptothek-wrapper{
        width: 80%;
    }
    
}