.scriptothek-wrapper{
	position: fixed;
	width: 21.5%;
	height: 100%;

	margin: 0;
	padding: 0;

	right: 0!important;
	top: 0;
	background-color: yellow!important;

	z-index: -1;
	overflow: scroll;
	overflow-x: hidden!important;

	visibility: visible;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

.scriptothek-title{
	position: relative;
	top: 0;

	z-index: 5;

	// box-shadow: 0px 10px 14px 0px yellow;
	// -webkit-box-shadow: 0px 10px 14px 0px yellow;
	// -moz-box-shadow: 0px 10px 14px 0px yellow;
}

.scriptothek-chapter{
	width: 100%;
	// background-color: blue;
}

.scriptothek-slideshow{
	position: relative;
	display: block;

	height: 100%;
	padding: 1%;
	// padding-bottom: 20%;
}

.script-image-wrapper{
	// height: auto;
	padding: 5%;
	// min-width: 60%;
}

// .scriptothek-slideshow a.image{
// 	width: 100%;
// 	height: auto;
// }

// hide all scriptotheeks
.scriptothek-chapter:not(.scriptothek-chapter-1){
	display: none;
}

.close-wrapper{
	width: 96.5%;
	position: fixed;
	// background-color: #b19cd9;
	right: 0;
	z-index: 5;
	top:0;
	display: none;
}

.close{
	font-size: 50px;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}


// .scriptothek-chapter .thumbcaption{
// 	min-width: 800px;
// 	height: 500px;
// 	background-color: yellow;
// 	border: solid 0.5px black;
// }

.scriptothek-chapter .thumbcaption{
	font-size: 10px;
}


// TRYOUT- horizontal scroll
// .scriptothek-chapter {
//     width: 400px;
//     border: 1px solid #111;
//     padding: 0px;
//     margin: 0px;
//     overflow-x: scroll;
//     overflow-y: hidden;
// }
// .scriptothek-slideshow {
//     padding: 0px;
//     margin: 0px;
//     height: 100px;
//     width: 910px;
// }
// img {
//     height: 90px;
//     width: 100px;
//     padding: 5px;
//     background: #123;
//     display: inline-block;
// }
  

//horizontal scrollbar

.scriptothek-slideshow::-webkit-scrollbar {
	width: 20px; 
 }

.scriptothek-slideshow::-webkit-scrollbar-track {
  background-color: yellow;
}

.scriptothek-slideshow::-webkit-scrollbar-thumb {
  background: yellow;
  border: solid black;
  border-radius: 25px 25px 0 0;
}