.scriptothek-wrapper{
	position: fixed;
	width: 21.5%;
	height: 100vh;

	margin: 0;
	padding: 0;

	right: 0!important;
	top: 0;
	background-color: yellow!important;

	z-index: -1;
	overflow: scroll!important;

	visibility: visible;

	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.94);
}

.scriptothek-slideshow{
	padding: 10%;
	height: 100%;
	display: block;
	padding: 1%;
	position: relative;
}

// hide all scriptotheeks
.scriptothek-chapter{
	display: none;
}

.close-wrapper{
	width: 96.5%;
	position: fixed;
	// background-color: #b19cd9;
	right: 0;
	z-index: 5;
	top:0;
	display: none;
}

.scriptothek-chapter a.image{
	margin: auto;
	margin-right: 5%;
}

// TRYOUT- horizontal scroll

// $finalHeight: 500px;
// $finalWidth: 3 * $finalHeight;
// $scrollBarHeight: 1px;

// ::-webkit-scrollbar {
//   width: $scrollBarHeight;
//   height: $scrollBarHeight;
// }

// ::-webkit-scrollbar-button {
//   width: $scrollBarHeight;
//   height: $scrollBarHeight;
// }

// div {
//   box-sizing: border-box;
// }

// .scriptothek-wrapper {
//   position: fixed;
//   display: block;
//   top: 0;
//   left: 0;
//   width: calc(#{$finalHeight} + #{$scrollBarHeight});
//   max-height: $finalWidth;
//   margin: 0;
//   padding-top: $scrollBarHeight;
//   background: #abc;
//   overflow-y: auto;
//   overflow-x: hidden;
//   transform: rotate(-90deg) translateY(-$finalHeight);
//   transform-origin: right top;
//   & > div {
//     display: block;
//     padding: 5px;
//     background: #cab;
//     transform: rotate(90deg);
//     transform-origin: right top;
//   }
// }

// .element_size {
//   padding: $finalHeight 0 0 0;
//   & > div {
//     width: $finalHeight;
//     height: $finalHeight;
//     margin: 10px 0;
//   }
// }

// .scriptothek-slideshow{
// 	display: inline-flex;
// }