{% extends "base.html" %}

{% block head %}
<title> {{ title }} </title>
<link href="{{ url_for('static', filename='css/print.css') }}" rel="stylesheet" type="text/css" media="screen">
<link href="{{ url_for('static', filename=title + '.css') }}" rel="stylesheet" type="text/css" media="screen">
<link href="{{ url_for('.static', filename='css/web-view.css') }}" rel="stylesheet" type="text/css" media="screen">
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<main id="webview">
  <!-- BUTTON -->
  <div class="btn-wrapper">
    <button class="change-behind">&larr;</button>
  </div>

  <div class="close-wrapper">
    <button class="close">&#215;</button>
  </div>

  <div class="slideshow-buttons">
    <a class="prev" onclick="plusSlides(-1)">&#60;</a>
    <a class="next" onclick="plusSlides(1)">&#62;</a>
  </div>


  <!-- ARTICLES + CONTENTS -->
    <div class="content">
      {{ html | safe }}
    </div>


    <script>
      $(document).ready(function(){

        // this one moves the page left and right
        $('.change-behind').click(function(){
            if($('.content, .btn-wrapper').attr("trigger")==="0"){
                $('.content, .btn-wrapper').animate({"left":"20%"},700);
                $('.content, .btn-wrapper').attr("trigger","1");
                $('.change-behind').text("←" == $(this).text() ? "→" : "←");

                $('.Demo-script').css("z-index", "-1");
            }
            else{
                $('.content, .btn-wrapper').animate({"left":"50px"},700);
                $('.content, .btn-wrapper').attr("trigger","0");
                $('.change-behind').text("&larr;" == $(this).text() ? "&larr;" : "→");

                $('.Demo-script').delay(3000).css("z-index", "2");
            }
          });

            $('a[href*="Setting_conditions"]').click(function(){
              $('a[href*="Platframe_Postscript"]').toggle();
              $('a[href*="Re-,_Un-,Defining_Tools"]').toggle();
              $('a[href*="Open-source_Parenting"]').toggle();
              $('a[href*="A_history_of_consensus_decision_making"]').toggle();
              $('a[href*="Algorithmic_Consensus"]').toggle();
              $('a[href*="Mycelines:_A_Sympoetic_Imagination"]').toggle();
            });

            $('a[href*="How-tos"]').click(function(){
              $('a[href*="Mud_Batteries"]').toggle();
              $('a[href*="Gerwani_and_Api_Kartini._Indonesian_Womens_Movement"]').toggle();
              $('a[href*="Display(ing)"]').toggle() 
            });

            $('a[href*="Prompts"]').click(function(){
              $('a[href*="Prompts_for_hanging_out_in_a_spreadsheet"]').toggle();
              $('a[href*="Propositioning"]').toggle();
              $('a[href*="Roleplaying_in_Etherpad"]').toggle();
            });

            $('a[href*="Scripted_syllabi"]').click(function(){
              $('a[href*="Interfacial-Workouts"]').toggle();
              $('a[href*="wiki_reflections"]').toggle();
            });

            $('a[href*="Active_bibliographies"]').click(function(){
              $('a[href*="Workshop_Histories_and_Practices"]').toggle();
              $('a[href*=""]').toggle();
            });

            $('.script-image .thumbimage').click(function(){
              $('.Demo-script').css("width", "96.5%");
              $('.thumbinner').css({"width":"100%"}, 700);
              $('.thumbimage').hide();
              $('.hide-from-book, .close-wrapper, .slideshow-buttons').show();

              // $('.content, .btn-wrapper').css({"width":"16%"},700);
              $('.introduction, .setting-conditions, .how-tos, .prompts, .scripted-syllabi, .active-bibliographies, .btn-wrapper').hide();
            });

            $('.close').click(function(){
              $('.Demo-script').css("width", "21.5%");
              $('.thumbinner').css({"width":"100%"}, 700);
              $('.thumbimage').show();

              $('.hide-from-book, .close-wrapper, .slideshow-buttons').hide();

              $('.introduction, .setting-conditions, .how-tos, .prompts, .scripted-syllabi, .active-bibliographies, .btn-wrapper').show();
            });
    });


    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>
</main>
{% endblock %}

